<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout-icon" id="wdm-app-icon">
            <a href="#" ng-click="help.clickOnNavBar()"><img src="//files-windsmobi.netdna-ssl.com/static/web/img/windmobile.png"></a>
        </div>
        <div class="mdl-layout__header-row">
            <a id="wdm-app-title" class="mdl-layout-title mdl-layout--large-screen-only" href="#" ng-click="help.clickOnNavBar()">winds.mobi</a>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <button class="mdl-button mdl-button--icon" ui-sref="map">
                    <i class="material-icons">map</i>
                </button>
                <button class="mdl-button mdl-button--icon" ui-sref="list">
                    <i class="material-icons">view_module</i>
                </button>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div id="wdm-help" class="page-content">
            <h1 translate>Help</h1>
            <h2 translate>HELP_STATION_SUMMARY_TITLE</h2>
            <div class="wdm-card-border wdm-card-layout wdm-card-help">
                <div class="wdm-name" style="float:left;" translate>HELP_STATION_NAME</div>
                <div class="wdm-info" style="float:right;">
                    <div class="wdm-last-update wdm-status-red" style="float:right;" translate>HELP_LAST_UPDATE</div>
                    <div class="wdm-provider" style="clear:right;float:right;" translate>HELP_PROVIDER</div>
                </div>
                <div class="wdm-altitude" style="clear:left;float:left;"><span translate>HELP_ALTITUDE</span></div>
                <div class="wdm-wind-speed" style="clear:left;float:left;width: 50%;">
                    <div class="wdm-wind-avg">{{ help.example.data[0]['w-avg'].toFixed(1) }}</div>
                    <div class="wdm-wind-max">{{ help.example.data[0]['w-max'].toFixed(1) }}<span class="wdm-unit" translate>km/h</span></div>
                    <svg class="wdm-wind-mini-chart" style="width:100%;max-width:85px;" viewBox="0 0 100 40" data-scope-watch="help.example"></svg>
                </div>
                <svg class="wdm-wind-dir-chart" style="float:right;width: 50%;max-width:85px;" viewBox="0 0 100 100" data-scope-watch="help.example"></svg>
                <div class="wdm-help-note" style="right: 160px; top:2px">1.</div>
                <div class="wdm-help-note" style="left: 80px; top:65px">2.</div>
                <div class="wdm-help-note" style="left: 100px; top:110px">3.</div>
                <div class="wdm-help-note" style="right: 100px; top:75px">4.</div>
            </div>
            <ol>
                <li>
                    <span class="wdm-status-red" translate>HELP_STATION_SUMMARY_TEXT_1_RED_DATE</span><span translate>HELP_STATION_SUMMARY_TEXT_1_RED</span><br>
                    <span class="wdm-status-orange" translate>HELP_STATION_SUMMARY_TEXT_1_ORANGE_DATE</span><span translate>HELP_STATION_SUMMARY_TEXT_1_ORANGE</span>
                </li>
                <li translate>HELP_STATION_SUMMARY_TEXT_2</li>
                <li translate>HELP_STATION_SUMMARY_TEXT_3</li>
                <li translate>HELP_STATION_SUMMARY_TEXT_4</li>
            </ol>

            <h2 translate>HELP_MAP_COLORS_TITLE</h2>
            <p translate>HELP_MAP_COLORS_TEXT</p>
            <table class="wdm-help-legend">
                <tr>
                    <td style="background: {{ help.getLegendColor(5) }};"></td>
                    <td style="background: {{ help.getLegendColor(10) }};"></td>
                    <td style="background: {{ help.getLegendColor(15) }};"></td>
                    <td style="background: {{ help.getLegendColor(20) }};"></td>
                    <td style="background: {{ help.getLegendColor(25) }};"></td>
                    <td style="background: {{ help.getLegendColor(30) }};"></td>
                    <td style="background: {{ help.getLegendColor(35) }};"></td>
                    <td style="background: {{ help.getLegendColor(40) }};"></td>
                    <td style="background: {{ help.getLegendColor(45) }};"></td>
                    <td style="background: {{ help.getLegendColor(50) }};"></td>
                </tr>
                <tr>
                    <td><5</td>
                    <td>10</td>
                    <td>15</td>
                    <td>20</td>
                    <td>25</td>
                    <td>30</td>
                    <td>35</td>
                    <td>40</td>
                    <td>45</td>
                    <td>>50</td>
                </tr>
            </table>

            <h1 translate>HELP_PROVIDERS_TITLE</h1>
            <ul>
                <li><a href="http://www.balisemeteo.com">ffvl.fr</a></li>
                <li><a href="http://holfuy.hu">holfuy.hu</a></li>
                <li><a href="http://meteo.jdc.ch">jdc.ch</a></li>
                <li><a href="http://www.meteoswiss.ch">meteoswiss.ch</a></li>
                <li><a href="http://pioupiou.fr">pioupiou.fr</a></li>
                <li><a href="http://www.windline.ch">windline.ch</a></li>
                <li><a href="http://www.windspots.com">windspots.com</a></li>
            </ul>

            <h1 translate>HELP_COMPATIBILITY_TITLE</h1>
            <p translate translate-compile>HELP_COMPATIBILITY_TEXT</p>

            <h1 translate>HELP_CONTACT_TITLE</h1>
            <p translate translate-compile>HELP_CONTACT_TEXT</p>
            <a href="mailto://yann@winds.mobi" target="_blank">yann@winds.mobi</a><br>
            <a href="https://www.facebook.com/WindsMobi" target="_blank">www.facebook.com/WindsMobi</a><br>
            <a href="https://plus.google.com/+WindsMobi_fr" target="_blank">plus.google.com/+WindsMobi_fr</a><br><br>
            <a href="https://github.com/ysavary/WindMobile2-Server" target="_blank">github.com/ysavary/WindMobile2-Server</a>
        </div>
    </main>
</div>
