<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout-icon" id="wdm-app-icon">
            <a href="#" ng-click="help.clickOnNavBar()"><img src="//files-windsmobi.netdna-ssl.com/static/web/img/windmobile.png"></a>
        </div>
        <div class="mdl-layout__header-row">
            <span id="wdm-app-title" class="mdl-layout-title mdl-layout--large-screen-only" ng-click="help.clickOnNavBar()">winds.mobi</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" ui-sref="map">
                    <i class="material-icons">map</i>
                    <span translate>Map</span>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" ui-sref="list">
                    <i class="material-icons">view_module</i>
                    <span translate>List</span>
                </button>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div id="wdm-help" class="page-content">
            <h2 id="summary" translate>HELP_STATION_SUMMARY_TITLE</h2>
            <div class="wdm-card-border wdm-card-layout wdm-card-summary-help">
                <div class="wdm-name" style="float:left;" translate>HELP_STATION_NAME</div>
                <div class="wdm-info" style="float:right;">
                    <div class="wdm-last-update wdm-status-red" style="float:right;" translate>HELP_LAST_UPDATE</div>
                    <div class="wdm-provider" style="clear:right;float:right;" translate>HELP_PROVIDER</div>
                </div>
                <div class="wdm-altitude" style="clear:left;float:left;"><span translate>HELP_ALTITUDE</span></div>
                <div class="wdm-wind-speed" style="clear:left;float:left;width: 50%;">
                    <div class="wdm-wind-avg">{{ help.example.data[0]['w-avg'].toFixed(1) }}</div>
                    <div class="wdm-wind-max">{{ help.example.data[0]['w-max'].toFixed(1) }}<span class="wdm-unit" translate>km/h</span></div>
                    <svg class="wdm-wind-mini-chart" style="width:100%;max-width:85px;" viewBox="0 0 100 40" data-scope-watch="help.example"></svg>
                </div>
                <svg class="wdm-wind-dir-chart" style="float:right;width: 50%;max-width:85px;" viewBox="0 0 100 100" data-scope-watch="help.example"></svg>
                <div class="wdm-help-note" style="right: 160px; top: 2px">1.</div>
                <div class="wdm-help-note" style="left: 80px; top: 65px">2.</div>
                <div class="wdm-help-note" style="left: 100px; top: 110px">3.</div>
                <div class="wdm-help-note" style="right: 100px; top: 75px">4.</div>
            </div>
            <ol>
                <li>
                    <span class="wdm-status-red" translate>HELP_STATION_SUMMARY_TEXT_1_RED_DATE</span><span translate>HELP_STATION_SUMMARY_TEXT_1_RED</span><br>
                    <span class="wdm-status-orange" translate>HELP_STATION_SUMMARY_TEXT_1_ORANGE_DATE</span><span translate>HELP_STATION_SUMMARY_TEXT_1_ORANGE</span>
                </li>
                <li translate>HELP_STATION_SUMMARY_TEXT_2</li>
                <li translate>HELP_STATION_SUMMARY_TEXT_3</li>
                <li translate>HELP_STATION_SUMMARY_TEXT_4</li>
            </ol>

            <h2 id="detail" translate>HELP_STATION_DETAIL_TITLE</h2>
            <div class="wdm-card-border wdm-card-layout wdm-card-detail-help">
                <div class="wdm-detail-layout" style="width: 100%; padding-left: 10px; padding-right: 10px">
                    <div class="wdm-name" style="float:left; width:130px;" translate>HELP_STATION_NAME</div>
                    <a class="btn" style="margin-left: 10px"><i class="material-icons md-18">map</i></a>
                    <a class="btn"><i class="material-icons md-18">view_module</i></a>
                    <a class="btn" style="float:right; margin-left: 10px"><i class="material-icons md-18">cancel</i></a>
                    <div class="wdm-info" style="float:right;">
                        <div class="wdm-last-update wdm-status-orange" style="float:right;">{{ help.example.fromNow }}</div>
                        <a class="wdm-provider" style="clear:right;float:right;" translate=>HELP_PROVIDER</a>
                    </div>
                    <div class="wdm-altitude" style="clear:left;float:left;" translate>HELP_ALTITUDE</div>
                    <div class="wdm-name" style="clear:both; text-align: center">...</div>
                </div>
                <div class="wdm-help-note" style="left: 155px; top: 30px">1.</div>
                <div class="wdm-help-note" style="left: 185px; top: 30px">2.</div>
            </div>
            <ol>
                <li translate>HELP_STATION_DETAIL_TEXT_1</li>
                <li translate>HELP_STATION_DETAIL_TEXT_2</li>
            </ol>

            <h2 id="map_colors" translate>HELP_MAP_COLORS_TITLE</h2>
            <p translate>HELP_MAP_COLORS_TEXT</p>
            <table class="wdm-help-legend">
                <tr>
                    <td ng-style="help.getLegendColorStyle(5);"></td>
                    <td ng-style="help.getLegendColorStyle(10);"></td>
                    <td ng-style="help.getLegendColorStyle(15);"></td>
                    <td ng-style="help.getLegendColorStyle(20);"></td>
                    <td ng-style="help.getLegendColorStyle(25);"></td>
                    <td ng-style="help.getLegendColorStyle(30);"></td>
                    <td ng-style="help.getLegendColorStyle(35);"></td>
                    <td ng-style="help.getLegendColorStyle(40);"></td>
                    <td ng-style="help.getLegendColorStyle(45);"></td>
                    <td ng-style="help.getLegendColorStyle(50);"></td>
                </tr>
                <tr>
                    <td><5</td>
                    <td>10</td>
                    <td>15</td>
                    <td>20</td>
                    <td>25</td>
                    <td>30</td>
                    <td>35</td>
                    <td>40</td>
                    <td>45</td>
                    <td>>50</td>
                </tr>
            </table>

            <h2 id="iframe" translate>HELP_IFRAME_TITLE</h2>
            <iframe src="https://winds.mobi/stations/list?lat=45.3103&lon=5.8888" width="350" height="350" frameborder="0"></iframe>
            <p translate translate-compile>HELP_IFRAME_TEXT</p>
            <ul>
                <li>https://winds.mobi/stations/list?lat=45.3103&lon=5.8888</li>
                <li>https://winds.mobi/stations/map?lat=45.3103&lon=5.8888&zoom=10</li>
            </ul>


            <h2 id="providers" translate>HELP_PROVIDERS_TITLE</h2>
            <ul>
                <li><a href="http://www.balisemeteo.com" target="_blank">ffvl.fr</a></li>
                <li><a href="http://holfuy.hu" target="_blank">holfuy.hu</a></li>
                <li><a href="http://meteo.jdc.ch" target="_blank">jdc.ch</a></li>
                <li><a href="http://www.meteoswiss.ch" target="_blank">meteoswiss.ch</a></li>
                <li><a href="http://pioupiou.fr" target="_blank">pioupiou.fr</a></li>
                <li><a href="http://www.windline.ch" target="_blank">windline.ch</a></li>
                <li><a href="http://www.windspots.com" target="_blank">windspots.com</a></li>
            </ul>

            <h2 id="compatibility" translate>HELP_COMPATIBILITY_TITLE</h2>
            <p translate translate-compile>HELP_COMPATIBILITY_TEXT</p>

            <h2 translate>HELP_CONTACT_TITLE</h2>
            <p translate translate-compile>HELP_CONTACT_TEXT</p>
            <a href="mailto://yann@winds.mobi" target="_blank">yann@winds.mobi</a><br>
            <a href="https://www.facebook.com/WindsMobi" target="_blank">www.facebook.com/WindsMobi</a><br>
            <a href="https://plus.google.com/+WindsMobi_fr" target="_blank">plus.google.com/+WindsMobi_fr</a><br><br>
            <a href="https://github.com/ysavary/WindMobile2-Server" target="_blank">github.com/ysavary/WindMobile2-Server</a>
        </div>
    </main>
</div>
