<div class="modal" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="wdm-card-border wdm-modal">
            <div class="modal-body">
                <div class="wdm-card-layout" style="width: 100%">
                    <div class="wdm-name">[[ main.selectedStation.short ]]</div>
                    <div class="wdm-info">
                        <div class="wdm-last-update" ng-class="main.getStatusClass(main.selectedStation)">[[ main.selectedStation.last._id|fromNow ]]</div>
                        <a class="wdm-url" href="[[ main.selectedStation.url ]]" target="_blank" ng-click="$event.stopPropagation();">[[ main.selectedStation.prov ]]</a>
                    </div>
                    <div class="wdm-altitude">[[ main.selectedStation.alt ]] meters</div>
                </div>
                <ul class="nav nav-tabs wdm-nav-tabs">
                    <li class="active"><a data-target="#tab1" data-toggle="tab" style="cursor: pointer;">Summary</a></li>
                    <li><a data-target="#tab2" data-toggle="tab" style="cursor: pointer;">Wind</a></li>
                    <li><a data-target="#tab3" data-toggle="tab" style="cursor: pointer;">Temperature</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="wdm-card-layout" style="margin-top: 15px; width: 200px">
                            <div class="wdm-title">Wind</div>
                            <div class="wdm-wind-speed">
                                <div class="wdm-wind-avg">[[ main.selectedStation.last['w-avg'].toFixed(1) ]]</div>
                                <div class="wdm-wind-max"><span class="wdm-label">Gust </span>[[ main.selectedStation.last['w-max'].toFixed(1) ]]<span class="wdm-unit">  km/h</span></div>
                            </div>
                            <svg class="wdm-wind-direction" data-scope-watch="main.selectedStation.historic"></svg>
                            <div class="wdm-title">Wind - last hour</div>
                            <div class="wdm-wind-hour">
                                <div class="wdm-wind-hour-value"><span class="wdm-label">Minimum </span>[[ main.selectedStation.historic['w-avg'].min.toFixed(1) ]]<span class="wdm-unit">  km/h</span></div>
                                <div class="wdm-wind-hour-value"><span class="wdm-label">Mean </span>[[ main.selectedStation.historic['w-avg'].mean.toFixed(1) ]]<span class="wdm-unit">  km/h</span></div>
                                <div class="wdm-wind-hour-value"><span class="wdm-label">Maximum </span>[[ main.selectedStation.historic['w-avg'].max.toFixed(1) ]]<span class="wdm-unit">  km/h</span></div>
                            </div>
                            <div class="wdm-title">Air</div>
                            <div class="wdm-air">
                                <div class="wdm-air-value"><span class="wdm-label">Temperature </span>[[ main.selectedStation.last.temp.toFixed(1) ]]<span class="wdm-unit">  °C</span></div>
                                <div class="wdm-air-value"><span class="wdm-label">Humidity </span>[[ main.selectedStation.last.hum.toFixed(1) ]]<span class="wdm-unit">  % rel</span></div>
                                <div class="wdm-air-value"><span class="wdm-label">Pressure </span>[[ main.selectedStation.last.pres.toFixed(1) ]]<span class="wdm-unit">  hPa</span></div>
                                <div class="wdm-air-value"><span class="wdm-label">Rain </span>[[ main.selectedStation.last.rain.toFixed(1) ]]<span class="wdm-unit">  l/m²</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="wdm-wind-chart" data-scope-watch="main.selectedStation.windChart"></div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div class="wdm-air-chart" data-scope-watch="main.selectedStation.airChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/static/web/img/windmobile.png"></a>
            <p class="navbar-text hidden-xxs"><span>Winds</span>.mobi</p>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="main.query" ng-change="main.list()">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </form>
        <div class="navbar-collapse collapse navbar-right" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="map"><span class="fa fa-map-marker nav-link-icon"></span>
                    <span class="hidden-xxs">Map</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="wdm-list-content" style="text-align: center;">
    <div class="wdm-card-border wdm-card-layout wdm-card-list" ng-repeat="station in main.stations" ng-click="main.selectStation(station)">
        <div class="wdm-name">[[ station.short ]]</div>
        <div class="wdm-info">
            <div class="wdm-last-update" ng-class="main.getStatusClass(station)">[[ station.last._id|fromNow ]]</div>
            <a class="wdm-url" href="[[ station.url ]]" target="_blank" ng-click="$event.stopPropagation();">[[ station.prov ]]</a>
        </div>
        <div class="wdm-altitude">[[ station.alt ]] meters</div>
        <div class="wdm-wind-speed">
            <div class="wdm-wind-avg">[[ station.last['w-avg'].toFixed(1) ]]</div>
            <div class="wdm-wind-max">[[ station.last['w-max'].toFixed(1) ]]<span class="unit">  km/h</span></div>
            <span class="wdm-wind-mini-chart" data-scope-watch="station.historic"></span>
        </div>
        <svg class="wdm-wind-direction" data-scope-watch="station.historic"></svg>
    </div>
</div>
