<div class="modal" id="detailModal" ui-view="detailView" tabindex="-1" role="dialog">
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon" id="wdm-app-icon">
            <a href="#" ng-click="main.clickOnNavBar()"><img src="//files-windsmobi.netdna-ssl.com/static/web/img/windmobile.png"></a>
        </div>
        <div class="mdl-layout__header-row">
            <span id="wdm-app-title" class="mdl-layout-title mdl-layout--large-screen-only" ng-click="main.clickOnNavBar()">winds.mobi</span>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
                <label class="mdl-button mdl-js-button mdl-button--accent mdl-button--icon" for="wdm-search-field">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <form>
                        <input id="wdm-search-field" class="mdl-textfield__input" type="text" name="search" ng-model="main.search" ng-change="main.doSearch()"
                               spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
                    </form>
                </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--accent mdl-button--icon" ng-click="main.clearSearch()" ng-show="main.search">
                <i class="material-icons">clear</i>
            </button>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <!-- Action center small -->
                <button class="mdl-layout--small-screen-only mdl-button mdl-js-button mdl-button--accent mdl-button--icon" ng-click="$app.getGeoLocation()"
                        ng-disabled="$app.location === -2">
                    <span ng-switch="main.getGeoStatus()">
                        <i ng-switch-when="2" class="material-icons">gps_fixed</i>
                        <i ng-switch-when="1" class="material-icons blink">location_searching</i>
                        <i ng-switch-when="0" class="material-icons">gps_not_fixed</i>
                        <i ng-switch-when="-1" class="material-icons">gps_not_fixed</i>
                        <i ng-switch-when="-2" class="material-icons">location_disabled</i>
                    </span>
                </button>
                <!-- Action center large -->
                <button class="mdl-layout--large-screen-only mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" ng-click="$app.getGeoLocation()"
                        ng-disabled="$app.location === -2">
                    <span ng-switch="main.getGeoStatus()">
                        <i ng-switch-when="2" class="material-icons">gps_fixed</i>
                        <i ng-switch-when="1" class="material-icons blink">location_searching</i>
                        <i ng-switch-when="0" class="material-icons">gps_not_fixed</i>
                        <i ng-switch-when="-1" class="material-icons">gps_not_fixed</i>
                        <i ng-switch-when="-2" class="material-icons">location_disabled</i>
                    </span>
                    <span translate>Center</span>
                </button>
                <!-- Action map small -->
                <button class="mdl-layout--small-screen-only mdl-button mdl-js-button mdl-button--accent mdl-button--icon" ui-sref="map">
                    <i class="material-icons">map</i>
                </button>
                <!-- Action map large -->
                <button class="mdl-layout--large-screen-only mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" ui-sref="map">
                    <i class="material-icons">map</i>
                    <span translate>Map</span>
                </button>
                <div ng-if="$app.profile">
                    <!-- Menu profile small -->
                    <button id="menu_profile_small" class="mdl-layout--small-screen-only mdl-button mdl-js-button mdl-button--accent">
                        <img ng-if="$app.profile.picture" height="32" width="32" src="{{ $app.profile.picture }}">
                        <span ng-if="!$app.profile.picture">{{ $app.profile.name }}</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu_profile_small">
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" ng-click="$app.logout()" translate>Logout</li>
                        <li class="mdl-menu__item" ng-click="main.clickOnHelp()" translate>Help</li>
                    </ul>
                    <!-- Menu profile large -->
                    <button id="menu_profile_large" class="mdl-layout--large-screen-only mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect">
                        <img ng-if="$app.profile.picture" height="32" width="32" src="{{ $app.profile.picture }}">
                        <span>{{ $app.profile.name }}</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu_profile_large">
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" ng-click="$app.logout()" translate>Logout</li>
                        <li class="mdl-menu__item" ng-click="main.clickOnHelp()" translate>Help</li>
                    </ul>
                </div>
                <div ng-if="!$app.profile">
                    <!-- Menu login small -->
                    <button id="menu_login_small" class="mdl-layout--small-screen-only mdl-button mdl-js-button mdl-button--accent mdl-button--icon">
                        <i class="material-icons">account_box</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu_login_small">
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" ui-sref="social-login" translate>Login</li>
                        <li class="mdl-menu__item" ng-click="main.clickOnHelp()" translate>Help</li>
                    </ul>
                    <!-- Menu login large -->
                    <button id="menu_login_large" class="mdl-layout--large-screen-only mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect">
                        <i class="material-icons">account_box</i>
                        <span translate>Login</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu_login_large">
                        <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" ui-sref="social-login" translate>Login</li>
                        <li class="mdl-menu__item" ng-click="main.clickOnHelp()" translate>Help</li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main id="wdm-list-main" class="mdl-layout__content">
        <div id="wdm-list-content" class="page-content">
            <div class="wdm-card-border wdm-card-layout wdm-card-list" ng-repeat="station in main.stations" ng-click="main.selectStation(station)">
                <div class="wdm-name" style="float: left;" ng-switch="$app.profile.favorites.indexOf(station._id) > -1">
                    <span ng-click="$app.toogleFavorite(station._id, $event)">
                        <i ng-switch-when="true" class="material-icons">favorite</i>
                        <i ng-switch-default class="material-icons">favorite_border</i>
                    </span>
                    <span class="wdm-name-text">{{ station.short }}</span>
                </div>
                <div class="wdm-info" style="float:right;">
                    <div class="wdm-last-update" style="float:right;" ng-class="station.fromNowClass">{{ station.fromNow }}</div>
                    <div class="wdm-provider" style="clear:right;float:right;">{{ station['pv-name'] }}</div>
                </div>
                <div class="wdm-altitude" style="clear:left;float:left;">{{ station.alt }} <span translate>meters</span></div>
                <div class="wdm-wind-speed" style="clear:left;float:left;width: 50%;">
                    <div class="wdm-wind-avg">{{ station.last['w-avg'].toFixed(1) }}</div>
                    <div class="wdm-wind-max">{{ station.last['w-max'].toFixed(1) }}<span class="wdm-unit" translate>km/h</span></div>
                    <svg class="wdm-wind-mini-chart" style="width:100%;max-width:85px;" viewBox="0 0 100 40" data-scope-watch="station.historic"></svg>
                </div>
                <svg class="wdm-wind-dir-chart" style="float:right;width: 50%;max-width:85px;" viewBox="0 0 100 100" data-scope-watch="station.historic"></svg>
            </div>
        </div>
    </main>
</div>
