<div class="modal" id="detailModal" ui-view="detailView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<script type="text/ng-template" id="_infobox.html">
    <div class="wdm-card-border wdm-card-layout wdm-card-map" ng-click="main.selectStation()">
        <div class="wdm-name" style="float:left;">{{ main.selectedStation.short }}</div>
        <div class="wdm-info" style="float:right;">
            <div class="wdm-last-update" style="float:right;" ng-class="main.selectedStation.fromNowClass">{{ main.selectedStation.fromNow }}</div>
            <div class="wdm-provider" style="clear:right;float:right;">{{ main.selectedStation.prov }}</div>
        </div>
        <div class="wdm-altitude" style="clear:left;float:left;">{{ main.selectedStation.alt }} meters</div>
        <div class="wdm-wind-speed" style="clear:left;float:left;width: 50%;">
            <div class="wdm-wind-avg">{{ main.selectedStation.last['w-avg'].toFixed(1) }}</div>
            <div class="wdm-wind-max">{{ main.selectedStation.last['w-max'].toFixed(1) }}<span class="wdm-unit">km/h</span></div>
            <svg class="wdm-wind-mini-chart" style="width:100%;max-width:70px;" viewBox="0 0 100 40" data-scope-watch="main.selectedStation.historic"></svg>
        </div>
        <svg class="wdm-wind-direction" style="float:right;width:70px;height:70px;" viewBox="0 0 100 100" data-scope-watch="main.selectedStation.historic"></svg>
    </div>
</script>

<nav id="map-header" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" ng-click="main.clearSearch()"><img src="/static/web/img/windmobile.png"></a>
            <a class="navbar-text hidden-xxs" href="#" ng-click="main.clearSearch()"><span>winds</span>.mobi</a>
        </div>
        <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="main.search" ng-change="main.doSearch()">
                <span class="input-group-clear glyphicon glyphicon-remove-circle" ng-click="main.clearSearch()" ng-show="main.search"></span>
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </form>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="#" ng-click="main.centerMap()"><span class="fa fa-lg fa-location-arrow"></span>
                    <span class="hidden-xs">Center</span></a>
                </li>
                <li><a ui-sref="list"><span class="fa fa-lg fa-th-large"></span>
                    <span class="hidden-xs">List</span></a>
                </li>
                <li><a href="https://plus.google.com/+WindsMobi_fr" target="_blank"><span class="fa fa-lg fa-life-ring"></span>
                    <span class="hidden-xs">Help</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="map">
    <div id="map-canvas"></div>
</div>
