<div class="modal" id="detailModal" ui-view="detailView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<script type="text/ng-template" id="_infobox.html">
    <div class="wdm-card-border wdm-card-layout wdm-card-map" ng-click="main.selectStation()">
        <div class="wdm-name">[[ main.selectedStation.short ]]</div>
        <div class="wdm-info">
            <div class="wdm-last-update" ng-class="main.getStatusClass(main.selectedStation)">[[ main.selectedStation.last._id|fromNow ]]</div>
            <a class="wdm-url" href="[[ main.selectedStation.url ]]" target="_blank" ng-click="$event.stopPropagation();">[[ main.selectedStation.prov ]]</a>
        </div>
        <div class="wdm-altitude">[[ main.selectedStation.alt ]] meters</div>
        <div class="wdm-wind-speed">
            <div class="wdm-wind-avg">[[ main.selectedStation.last['w-avg'].toFixed(1) ]]</div>
            <div class="wdm-wind-max">[[ main.selectedStation.last['w-max'].toFixed(1) ]]<span class="wdm-unit">  km/h</span></div>
            <span class="wdm-wind-mini-chart" data-scope-watch="main.selectedStation.historic"></span>
        </div>
        <svg class="wdm-wind-direction" data-scope-watch="main.selectedStation.historic"></svg>
    </div>
</script>

<nav id="map-header" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/static/web/img/windmobile.png"></a>
            <p class="navbar-text hidden-xxs"><span>Winds</span>.mobi</p>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="main.query" ng-change="main.list()">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </form>
        <div class="navbar-collapse collapse navbar-right" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="list"><span class="fa fa-th-large nav-link-icon"></span>
                    <span class="hidden-xxs">List</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="map">
    <div id="map-canvas"></div>
</div>
