<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout-icon" id="wdm-app-icon">
            <a href="#" ng-click="$ctrl.clickOnNavBar()"><img src="/static/web/img/windmobile.png"></a>
        </div>
        <div class="mdl-layout__header-row">
            <span id="wdm-app-title" class="mdl-layout-title mdl-layout--large-screen-only" ng-click="$ctrl.clickOnNavBar()">winds.mobi</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" ui-sref="map">
                    <i class="material-icons">map</i>
                    <span translate>Map</span>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" ui-sref="list">
                    <i class="material-icons">view_module</i>
                    <span translate>List</span>
                </button>
            </nav>
        </div>
    </header>
<div class="wdm-signin-content">
    <div class="wdm-signin">
        <h1 translate>Sign up</h1>
        <h2 translate>SIGN_UP_SUMMARY_TITLE</h2>

        <p translate translate-compile>SIGN_UP_TEXT</p>

        <div>
            <a class="wdm-google-sign-up" href="/auth/google/oauth2callback/"></a>
        </div>
   </div>
</div>
