<body ng-controller="ListController">

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/static/web/images/windmobile.png"></a>
            <p class="navbar-text hidden-xxs">WindMobile</p>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="query" ng-change="list()">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </form>
        <div class="navbar-collapse collapse navbar-right" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/map"><span class="fa fa-map-marker nav-link-icon"></span>
                    <span class="hidden-xxs">Map</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div style="text-align: center;">
    <div class="station-card" ng-repeat="station in stations" ng-controller="StationController" ng-click="selectStation(station)">
        <div class="title">[[ station.short ]]</div>
        <div class="last-update">[[ station.last._id|fromNow ]]</div>
        <div class="altitude">[[ station.alt ]] meters</div>
        <div class="wind-section">
            <div class="wind-avg">[[ station.last['w-avg'].toFixed(1) ]]</div>
            <div class="wind-max">[[ station.last['w-max'].toFixed(1) ]]<span class="unit">  km/h</span></div>
            <mini-chart id="mini-chart" data="[[ miniChartData ]]"></mini-chart>
        </div>
        <svg id="wind-direction" obj="" wind-direction></svg>
    </div>
</div>
</body>