$grid-float-breakpoint: 0px;
@import "bootstrap";

@media (max-width: 500px) {
    @include responsive-invisibility('.hidden-xxs');
}

$header-height: 50px;

body.wdm-list {
    background-color: #191919;
    padding-top: 70px;
}

body.modal-open .wdm-list-content {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.navbar-brand {
    padding: 3px;
    img {
        height: 45px;
    }
}

a.navbar-text {
    text-decoration: none;
    margin-left: 0px;
    padding-left: 5px;
    margin-right: 10px;
}

.navbar-text > span {
    color: #d75556;
    font-weight: 500;
}

.navbar-form {
    .input-group {
        width: 250px;
        @media (max-width: 600px) {
            width: 155px;
        }
        @media (max-width: 330px) {
            width: 135px;
        }
        input {
            padding-right: 20px;
        }
        .input-group-addon {
            padding: 5px;
            width: 30px;
        }
        .input-group-clear {
            position: absolute;
            right: 35px;
            top: 0;
            bottom: 0;
            height: 14px;
            margin: auto;
            cursor: pointer;
            color: #555555;
            z-index: 2;
        }
    }
}

.nav-link-icon {
    font-size: 1.2em;
}

.navbar-nav > li > a {
    padding-left: 8px;
    padding-right: 8px;
}

#map-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: $header-height;
}

#map {
    height: 100%;
    width: 100%;
}

#map-canvas {
    position: absolute;
    top: $header-height;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

$text-color: #8d8d8d;
$highlight-text-color: #ddd;
$small-font-size: 12px;
$font-size: 15px;

.wdm-card-border {
    margin: 5px;
    padding: 5px;
    border: 1.5px solid $highlight-text-color;
    border-radius: 8px;
}

.wdm-card-layout {
    display: inline-block;
    vertical-align: top;
    color: $text-color;
    font-size: $font-size;
    text-align: left;
    cursor: pointer;

    a {
        color: $text-color;
        text-decoration: underline;
        &:hover, &:active {
            color: $highlight-text-color;
        }
        &:focus {
            outline: none;
        }
    }
    .wdm-name {
        overflow: hidden;
        color: $highlight-text-color;
        font-size: 18px;
    }
    .wdm-last-update {
        font-size: $small-font-size;
    }
    .wdm-provider {
        font-size: $small-font-size;
    }
    .wdm-altitude {
        font-size: $small-font-size;
    }
    .wdm-wind-avg {
        font-size: 23px;
        color: $highlight-text-color;
    }
    .wdm-wind-max {
        color: $highlight-text-color;
    }
    .wdm-wind-mini-chart {
        margin-top: 5px;
    }
    .wdm-wind-hour-value {
        color: $highlight-text-color;
    }
    .wdm-air-value {
        color: $highlight-text-color;
    }
}

.wdm-detail-layout {
    @extend .wdm-card-layout;

    .wdm-wind-avg {
        font-size: 27px;
        color: $highlight-text-color;
    }
    .wdm-wind-max {
        font-size: 19px;
        color: $highlight-text-color;
    }
    .wdm-wind-hour-value {
        font-size: 17px;
        color: $highlight-text-color;
    }
    .wdm-air-value {
        font-size: 17px;
        color: $highlight-text-color;
    }
}

.wdm-wind-direction {
    text-anchor: middle;
    alignment-baseline: central;
}
.wdm-title {
    clear: both;
    margin-top: 10px;
    color: $text-color;
}
.wdm-label {
    font-size: $small-font-size;
    color: $text-color;
}
.wdm-unit {
    margin-left: 5px;
    font-size: $small-font-size;
    color: $text-color;
}

.wdm-status-red {
    color: #990000;
}
.wdm-status-orange {
    color: #aa7109;
}

$wind-color: #cdcd00;
.wdm-wind-text-color {
    color: darken($wind-color, 15%)
}
.wdm-direction-line {
    stroke: darken($wind-color, 15%);
    stroke-width: 2;
}
.wdm-minichart-line {
    stroke: darken($wind-color, 15%);
    stroke-width: 2;
}

$air-color: #3b71a0;
.wdm-air-text-color {
    color: darken($air-color, 15%)
}

$temperature-color: #c72d46;
.wdm-temperature-line {
    color: darken($temperature-color, 15%)
}

$humidity-color: #3b71a0;
.wdm-humidity-line {
    color: darken($humidity-color, 15%)
}

.wdm-card-map {
    background-color: rgba(0, 0, 0, 0.9);
}

.wdm-card-list {
    width: 30%;
    min-width: 145px;
    max-width: 250px;
    background-color: #222;
}

.wdm-modal {
    background-color: rgba(0, 0, 0, 1);
    margin: -5px;
}

.wdm-nav-tabs {
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid $text-color;

    > li {
        > a {
            color: $text-color;
            &:hover, &:focus {
                background-color: transparent;
                border-color: transparent;
                color: $highlight-text-color;
            }
        }
    }
    > li.active {
        > a, a:hover, a:focus {
            background-color: transparent;
            color: $text-color;
            border: 1px solid $text-color;
        }
    }
}
