$grid-float-breakpoint: 615px;
@import "bootstrap";

$background-color: #191919;
$light-background-color: #222;

$text-color: #8d8d8d;
$highlight-text-color: #ddd;

$small-font-size: 12px;
$font-size: 15px;

body {
    background-color: $background-color;
    padding-top: 70px;
}

.map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.station-card {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 20%;
    min-width: 180px;
    margin: 5px;
    padding: 5px;
    border: 1.5px solid $highlight-text-color;
    border-radius: 8px;
    color: $text-color;
    font-size: $font-size;
    background-color: $light-background-color;
    cursor: pointer;

    > .title {
        float: left;
        max-width: 100px;
        overflow: hidden;
        color: $highlight-text-color;
        font-size: 18px;
    }
    > .last-update {
        float: right;
        font-size: $small-font-size;
    }
    > .altitude {
        clear: both;
        font-size: $small-font-size;
    }
    > .wind-section {
        float: left;
        width: 50%;
        > .wind-avg {
            font-size: 23px;
            color: $highlight-text-color;
        }
        > .wind-max {
            float: left;
            font-size: $font-size;
            color: $highlight-text-color;
        }
        > .unit {
            float: right;
            margin: 0 20px 0 0;
        }
        > #mini-chart {
            clear: both;
            float: left;
        }
    }
    > #wind-direction {
        float: right;
        width: 80px;
        height: 80px;
    }
}

.transparent-background {
    background-color: rgba(0, 0, 0, 0.8);
}

.windmobile {
    background: url("/static/web/images/windmobile.png") no-repeat left 5px top;
    padding-left: 85px;
}

.search {
    width: 250px;
}