$grid-float-breakpoint: 0px;
@import "bootstrap";

@media (max-width: 500px) {
    @include responsive-invisibility('.hidden-xxs');
}

$background-color: #191919;
$light-background-color: #222;

$text-color: #8d8d8d;
$highlight-text-color: #ddd;

$small-font-size: 12px;
$font-size: 15px;

body {
    background-color: $background-color;
    padding-top: 70px;
}

.navbar-brand {
    padding: 3px;

    img {
        height: 70px;
    }
}

.navbar-form {
    .input-group {
        width: 250px;
    }
}
@media (max-width: 600px) {
    .navbar-form {
        .input-group {
            width: 150px;
        }
    }
}

.nav-link-icon {
    font-size: 1.2em;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.station-card {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 30%;
    min-width: 160px;
    max-width: 250px;
    margin: 5px;
    padding: 5px;
    border: 1.5px solid $highlight-text-color;
    border-radius: 8px;
    color: $text-color;
    background-color: $light-background-color;
    font-size: $font-size;
    text-align: left;
    cursor: pointer;

    .unit {
      font-size: $small-font-size;
      color: $text-color;
    }

    > .title {
        float: left;
        overflow: hidden;
        color: $highlight-text-color;
        font-size: 18px;
    }
    > .last-update {
        float: right;
        font-size: $small-font-size;
    }
    > .altitude {
        clear: both;
        font-size: $small-font-size;
    }
    > .wind-section {
        float: left;
        width: 50%;
        > .wind-avg {
            font-size: 23px;
            color: $highlight-text-color;
        }
        > .wind-max {
            float: left;
            font-size: $font-size;
            color: $highlight-text-color;
        }
        > #mini-chart {
            margin-top: 5px;
            clear: both;
            float: left;
        }
    }
    > #wind-direction {
        float: right;
        width: 70px;
        height: 70px;
    }
}

.station-card-detail {
    display: inline-block;
    position: absolute;
    width: 90%;
    max-width: 600px;
    right: 0;
    left: 0;
    margin: auto;
    padding: 5px;
    border: 1.5px solid $highlight-text-color;
    border-radius: 8px;
    color: $text-color;
    font-size: $font-size;
    background-color: $light-background-color;

    > .title {
        float: left;
        max-width: 100px;
        overflow: hidden;
        color: $highlight-text-color;
        font-size: 18px;
    }
    > .last-update {
        float: right;
        font-size: $small-font-size;
    }
    > .altitude {
        clear: both;
        font-size: $small-font-size;
    }
    > .wind-section {
        float: left;
        width: 50%;
        > .wind-avg {
            font-size: 23px;
            color: $highlight-text-color;
        }
        > .wind-max {
            float: left;
            font-size: $font-size;
            color: $highlight-text-color;
        }
        > .unit {
            float: right;
            margin: 0 20px 0 0;
        }
        > #mini-chart {
            clear: both;
            float: left;
        }
    }
    > #wind-direction {
        float: right;
        width: 80px;
        height: 80px;
    }
    > #wind-chart {
        width: 100%;
        height: 300px;
        margin-bottom: 100px;
    }
}

.transparent-background {
    background-color: rgba(0, 0, 0, 0.8);
}