{% load staticfiles %}

<!doctype html>
<html ng-app="WindMobileModule">

<!--link rel="stylesheet" type="text/css" href="{% static "web/css/bootstrap.css" %}" /-->
<link rel="stylesheet" type="text/css" href="{% static "web/css/windmobile.css" %}" />

<script src="{% static "web/js/jquery-1.10.2.js" %}"></script>
<script src="{% static "web/js/jquery.sparkline.js" %}"></script>
<script src="{% static "web/js/moment.js" %}"></script>
<script src="{% static "web/js/angular.js" %}"></script>
{% block content %}
{% endblock %}
</html>