{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<body ng-controller="StationsController">
	<snap-drawer>
		<p>I'm a drawer! I maybe I've got some sweet navigation links.</p>
	</snap-drawer>
	<snap-content snap-options="snapOptions">
		<div id="toolbar">
			<button id="drawer-toggle" snap-toggle></button>
			<div id="search">Search: <input type="text" ng-model="query" ng-change="list()"></div>
			<h1>WindMobile</h1>
		</div>
		<div class="station-list">
			<div class="station-card" ng-repeat="station in stations" ng-controller="StationController">
				<div class="title">[[ station.name ]]</div>
				<div class="last-update">[[ station.last._id|fromNow ]]</div>
				<div class="altitude">[[ station.alt ]] meters</div>
				<div class="wind-avg">[[ station.last['w-avg'].toFixed(1) ]]</div>
				<div class="wind-max">[[ station.last['w-max'].toFixed(1) ]]</div><div class="unit">km/h</div>
				<mini-chart data="[[ miniChartData ]]"></mini-chart>
				<svg obj="" style="width:200px;height:200px" wind-direction></svg>
			</div>
		</div>
	</snap-content>
</body>
{% endblock content %}
